html
  head
    title Fertilizer Details
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    style.
      .fertilizer-details {
        background-color: #f7f7f7;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin-top: 20px;
      }
      .container {
        margin-top: 50px;
      }
  body
    .container
      h1.text-center Fertilizer Details
      .fertilizer-details
        img(src=fertilizer.image)
        h3 Fertilizer Name: #{fertilizer.name}
        
        p Description: #{fertilizer.desc}
        p Price:₹ #{fertilizer.price} 
        p MRP:₹
            strike #{fertilizer.MRP}
        p Discount:₹ #{fertilizer.MRP -fertilizer.price}
        p Availability: #{fertilizer.avail}

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
